<ion-header>
  <ion-toolbar>
    <ion-title (click)="open()">{{act.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main" class="main" [scrollEvents]="true" #chatContent>
  <ion-infinite-scroll threshold="30px" id="infinite-scroll" position="top" (ionInfinite)="getMoreMessages($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <div class="messages-container">
  <div *ngFor="let i of messages">
<div class="{{i.div}}">
  <ion-chip class="{{i.chip}} ion-text-start">
    <ion-label>
      {{i.value}}
    </ion-label>
  </ion-chip>
</div>
</div>
  </div>
</ion-content>
  <ion-item class="item">
  <ion-textarea auto-grow rows="1" [(ngModel)]="m.textarea"></ion-textarea>
   <ion-icon name="send-outline" slot="end" (click)="send()"></ion-icon>
  </ion-item>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="au()">Dodaj użytkownika</ion-item>
      <div *ngFor="let i of Menu">
        <ion-item (click)="oc({uid: i.uid, pb: i.pbl, convid: i.convid, name: i.name})">
          {{i.name}}
          <ion-badge slot="end" >{{i.badge}}</ion-badge>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
