<ion-header>
  <ion-toolbar>
    <ion-title>ModalPIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="text-align: center">
    <ion-row>
      <ion-col><ion-button shape="round" expand="full" size="large" fill="outline" (click)="scan()"><ion-icon name="barcode-outline"></ion-icon>Scan QR code</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button shape="round" expand="block" size="large" fill="outline" (click)="encode()"><ion-icon name="qr-code-outline"></ion-icon>Show your QR code</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
