.mask-text {
  -webkit-text-security: disc;
  -moz-webkit-text-security: disc;
  -moz-text-security: disc;
}
ion-row {
  justify-content: center;
}
ion-checkbox {
  opacity: 1 !important;
}
.transparentBody {
  background: transparent !important;
}
