<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row justify-content-center>

        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <form  #form="ngForm" (ngSubmit)="register(form)">
            <ion-item>
              <ion-label position="floating">Login</ion-label>
              <ion-input name="username" [(ngModel)]="registere.username" ngControl="username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Hasło</ion-label>
              <ion-input name="rpassword" type="password" [(ngModel)]="registere.password" ngControl="password" required minlength="8" (ionChange)="passtest(form)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Powtórz hasło</ion-label>
              <ion-input name="password" type="password" [(ngModel)]="registere.rpassword" ngControl="rpassword" (keyup.enter)="register(form)" required minlength="8" (ionChange)="passtest(form)"></ion-input>
            </ion-item>
            <ion-button expand="block" type="submit" [disabled]="passtest(form)">Zaloguj</ion-button>
          </form>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  -->
</ion-content>
